# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
build/
sdist/
*.egg-info/

# Installed packages
*.egg
*.whl

# Environments
.env
venv/
env/
ENV/
.venv/

# Log files
*.log

# Editor and IDE specific files
.idea/
*.vscode/
